<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p><%= number_to_phone"55555555"%></p>
<p><%= number_to_currency "12345"%></p>
<p><%= number_with_delimiter "15123413412"%></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2617531917836!2d106.79183551471164!3d10.867685092259615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175277b9fa0eca9%3A0xc1b8a23f27d681b2!2sInformation%20Technology%20Park!5e0!3m2!1sen!2s!4v1623938346445!5m2!1sen!2s" 
width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
