<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p><%= number_to_phone"55555555"%></p>
<p><%= number_to_currency "12345"%></p>
<p><%= number_with_delimieter "15123413412"%></p>
